/* Small screens */
@media all and (max-width: 500px) {
  body {
    margin: 0;
  }

  .wrapper {
    width: 100%;
  }

  .nav-container {
    display: flex;
    justify-content: space-around;
  }

  .logo {
    flex: 1;
    width: auto;
    height: 74px;
    position: relative;
  }

  #shape {
    margin-left: -41px;
  }

  .nav-icon {
    align-self: center;
    margin: 16px;
  }

  .hero-content {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
  }

  .hero-name {
    width: 220px;
    font-family: Playfair Display, sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0;
    text-align: left;
    margin: 20px 0 20px 0;
  }

  .hero-summary {
    height: 126px;
    width: auto;
    left: 16px;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
    margin: 20px 0 40px 0;
    padding-left: 8px;
  }

  .collab {
    background: #1a2236;
    box-sizing: border-box;
    height: 50px;
    left: 16px;
    top: 390px;
    border-radius: 0;
    width: 100%;
    text-align: center;
  }

  .collab p {
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
  }

  .content-geo {
    margin-top: 33px;
    display: flex;
  }

  .content-geo img {
    flex: 1;
  }
}
